<nav class="navInferior">
    <ul>
        <li class="botonera">
            <div class="container-icon"><a href=""><img src="/img/electronica.svg" alt="Logo electronica"></a></div>
            <p>Electrónica</p>
        </li>
        <li class="botonera">
            <div class="container-icon"><a href=""><img src="/img/comida.svg" alt="Logo alimentos"></a></div>
            <p>Alimentos</p>
        </li>
        <li class="botonera"> 
            <div  class="container-icon"><a href=""><img src="/img/cerveza.svg" alt="Logo bebidas"></a></div>
            <p>Bebidas</p>   
        </li>
        <li class="botonera">
            <div  class="container-icon"><a href=""><img src= "/img/ropa.svg" alt="Logo ropa"></a></div>
            <p>Indumentaria</p>
        </li>
        <li class="botonera">
            <div  class="container-icon"><a href=""><img src="/img/juego.svg" alt="Logo juego"></a></div>
            <p>Juegos</p>
        </li>
        <li class="botonera">
            <div  class="container-icon"><a href=""><img src="/img/automotor.svg" alt="Logo automotor"></a></div>
            <p>Automotor</p>
        </li>
        <li class="botonera">
            <div  class="container-icon"><a href=""><img src="/img/hogar.svg" alt="Logo hogar"></a></div>
            <p>Hogar</p>
        </li>
        <li class="botonera" id="sinBorde">
            <div  class="container-icon"><a href=""><img src="/img/regalo.svg" alt="Logo otros"></a></div>
            <p>Otros</p>
        </li>
    </ul>
</nav>