<footer>

    <div>
        <img src="/img/twitter.svg" alt="" class="redes">
        <img src="/img/facebook.svg" alt="" class="redes">
        <img src="/img/instagram.svg" alt="" class="redes">
        <img src="/img/youtube.svg" alt="" class="redes">
    </div>
    <div>
        <p>© MiEcommerce. Todos los derechos reservados.</p>
    </div>
    <div class="container-stores">
        <img src="/img/apple.svg" alt="">
        <h6>App Store</h6>
        <img src="/img/google-play.svg" alt="">
        <h6>Google Play</h6>
    </div>


</footer>