<header class="header" id="header_con_search">
    <a href="/"><img src="/img/MiEcommerce.svg" alt="Logo empresa"></a>
    <form action="/" id="formSearchBar" method="GET">
        <label for="searchBar"></label>
        <input class="input" id="searchBar" type="text" placeholder="Buscar">
        <button id="lupaSearchBar"><img src="/img/lupa.svg" alt="Lupa busqueda"></button>
    </form>
    <div id="contenedorBotonesHeader">
        <a href="/cart" id="botonCarritoCompras">
            <img src="/img/carritocompra.svg" id="fotoCarrito" alt="Carrito de compra">
        </a>
        <button id="botonImagenPerfil">
            <img src="/img/fotoperfil.svg" alt="imagen de perfil">
            <p id="nombreUsuario">Olivia</p>
            <nav class="botonDesloggear">
                <ul>
                    <li><img src="/img/fotoperfil.svg" alt="imagen de perfil">Olivia</li>
                    <li>Inicio</li>
                    <li>Mis Compras</li>
                    <li>Favoritos</li>
                    <li>Historial</li>
                    <li>Cambiar a Tema Claro</li>
                </ul>
            </nav>
        </button>
    </div>
</header>
<script src="./scripts/editarPerfil.js"></script>