<header class="header" id="header_con_search">
    <a href="/"><img src="/img/MiEcommerce.svg" alt="Logo empresa"></a>
    <form action="/" id="formSearchBar" method="GET">
        <label for="searchBar"></label>
        <input class="input" id="searchBar" type="text" placeholder="Buscar">
        <button id="lupaSearchBar"><img src="/img/lupa.svg" alt="Lupa busqueda"></button>
    </form>
    <div id="contenedorBotonesHeader">
        <a href="/cart" id="botonCarritoCompras">
            <img src="/img/carritocompra.svg" id="fotoCarrito" alt="Carrito de compra">
        </a>
        <menu id="botonImagenPerfil" class="buttonGrisAVerde">
            <img src="/img/fotoperfil.svg" alt="imagen de perfil">
            <p id="nombreUsuario">Olivia</p>
            <nav>
                <ul class="botonDesloggear">
                    <li><div class="buttonBlancoAVerde"><img src="/img/fotoperfil.svg" alt="imagen de perfil"><p>Olivia</p></div></li>
                    <li><a class="buttonBlancoAVerde">Inicio</a></li>
                    <li><a class="buttonBlancoAVerde">Mis Compras</a></li>
                    <li><a class="buttonBlancoAVerde" >Favoritos</a></li>
                    <li><a class="buttonBlancoAVerde">Historial</a></li>
                    <li><button class="buttonBlancoAVerde">Cambiar a Tema Oscuro</button></li>
                </ul>
            </nav>
        </menu>
    </div>
</header>
<script src="/scripts/editarPerfil.js"></script>