@import url('variables.css');

.navInferior{
     background-color: var(--colorNegroClaro);
     border-radius: 16px;
     width: 1024px;
     margin-top: 48px;
}
.navInferior > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0.5rem 0px;
 }
 .navInferior .botonera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 2px white;
    text-align: center;
    width: calc(100% / 8);
    aspect-ratio: 1 / 1;
    max-width: 128px;
 }

 .botonera .container-icon{
     max-height: 32px;
     aspect-ratio: 1/1;
     margin-bottom: 0.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .navInferior ul :nth-child(5) .container-icon img{
    max-height: 18px;
 }

 .navInferior ul :nth-child(5) .container-icon{
    padding: 7px 0;
 }

 #sinBorde{
    border-right: none;
 }

 .navInferior .botonera p{
    color: var(--colorBlancoNav);
 }

 .botonera > a > img{
    border-radius: 0.5rem;
 }



 @media screen and (max-width:1024px) {
   .navInferior {
      width: 100%;
   }
   .navInferior > ul {
      flex-direction: column;
      align-items: flex-start;
   }
   .navInferior .botonera {
      border: none;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-left: 20px;
      /*width: initial;*/
      width: 128px;
      height: 30px;
      margin-bottom: 5px;
   }
   .navInferior > ul li:nth-child(1) {
      margin-top: 15px;
   }
   .navInferior .botonera p {
      margin-left: 10px;
      height: 30px;
   }
   .botonera .container-icon img {
      width: 20px;
   }
 }