@import url('variables.css');

.buttonGris, .buttonVerde{
    border: none;
    width: auto;
    height: 32px;
    border-radius: 16px;
    padding: 8px 16px;
    font-size : 12px;
    color:  rgba(255, 255, 255, 1);
}

.buttonGris{
    background: rgba(73, 79, 81, 1);
}

.buttonVerde{
    background: rgba(12, 176, 147, 1);
}

.buttonGris:hover{
    background: rgb(57, 62, 63);
}

.buttonVerde:hover{
    background: rgb(9, 138, 115);
}