@import url('variables.css');

.buttonGris, .buttonVerde, .buttonGrisAVerde{
    border: none;
    width: auto;
    height: 32px;
    border-radius: 16px;
    padding: 8px 16px;
    font-size : 12px;
    color:  rgba(255, 255, 255, 1);
}

.buttonBlancoAVerde{
    background-color: #FFF;
}

.buttonGrisAVerde{
    background-color: var(--colorGrisOscuro);
}

.buttonGris{
    background-color: var(--colorGrisOscuro);
}

.buttonVerde{
    background-color: rgba(12, 176, 147, 1);
}

.buttonGris:hover{
    background-color: rgb(57, 62, 63);
}

.buttonVerde:hover{
    background-color: rgb(9, 138, 115);
}

.buttonGrisAVerde:hover{
    background-color: var(--colorVerde) !important;
}

.buttonGrisAVerde:hover, .buttonGris:hover, .buttonGris:hover{
    cursor: pointer;
}

.buttonBlancoAVerde:hover{
    background-color: var(--colorVerde);
    color: var(--colorBlanco);
}

.buttonVerde:disabled, .buttonGris:disabled, .buttonGrisAVerde:disabled, .buttonBlancoAVerde:disabled {
    opacity: 0.5; 
    background-color: lightgrey;
}

.buttonGrisAVerdeClickeado{
    background-color: var(--colorVerde) !important;
}

