/*Estilos header con search*/
.header{
    min-height: 10vh;
    padding: 1rem;
    width: 100%;
    background-color: var(--colorBlanco);
    border-bottom: var(--colorGrisOscuro) solid 1px;
}

#lupaSearchBar{
    position: absolute;
    right: 1rem;
    background-color: transparent;
    padding: 4px;
    border-radius: 50%;
    margin: 0 auto;
}

#lupaSearchBar:hover{
    background-color: lightgray;
}

#lupaSearchBar img{
    width: 16px;
    height: auto;
    color: var(--colorGris);
    display: block;
}

#formSearchBar{
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 3;
}

#header_con_search > *:not(:last-child){
    margin-right: 3.5rem;
}

#header_con_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_con_search input{
    width: 100%;
}

#botonCarritoCompras{
    background-color: var(--colorGrisOscuro);
    padding: 0.4rem;
    border-radius: 20px;
}

#botonCarritoCompras:hover{
    background: rgb(57, 62, 63);
}

#contenedorBotonesHeader{
    display: flex;
    align-items: center;
}

#botonImagenPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    height: 32px;
    padding-right: 1.3em;
}



#nombreUsuario{
    color: var(--colorBlanco);
    margin-left: 0.5em;
}

#fotoCarrito{
    width: 16px;
    height: 16px;
}

#botonImagenPerfil{
    position: relative;
    padding-left: 0.3rem;
}

#botonCarritoCompras{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.botonDesloggear{
    border-radius: 16px;
    background-color: var(--colorBlanco);
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    aspect-ratio: 3 / 1;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px 0px #00000040;
    cursor: default;
}

.botonDesloggear > li{
    width: 100%;
    list-style: none;
}

.botonDesloggear > li:first-child > *{
    border-radius: 16px 16px 0px 0px;
    border-bottom: 2px lightgray solid;
}

.botonDesloggear > li:last-child > *{
    border-radius: 0px 0px 16px 16px;
    border-top: 2px lightgray solid;
}

.botonDesloggear > li > *{
    padding: 0.5rem 2rem;
    display: block;
    color: var(--colorGrisOscuro);
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.botonDesloggear > li > button{
    color: var(--colorGrisOscuro);
    background-color: none;
    font-family: 'Open Sans', sans-serif;
}

.botonDesloggear > li > div > img{
    width: 2rem;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
}

.botonDesloggear > li > div{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.botonDesloggearVisible{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px) {
    .botonDesloggear{
        position: fixed;
        top: 0;
        right: 0;
        max-width: 50vh;
        height: 100vh;
        margin-top: 0;
        border-radius: 16px 0px 16px 16px;
    }
    
    .botonDesloggear > li:first-child > *{
        border-radius: 16px 0px 0px 0px;
        border-bottom: 2px lightgray solid;
    }

    .botonDesloggear > li:last-child > *{
        border-radius: 0px;
        border-top: 2px lightgray solid;
        width: 100%;
        text-align: start;
    }
}