.input {
    width: auto;
    height: 32px;
    border-radius: 16px;
    border: solid var(--colorGrisOscuro) 1px;
    padding: 8px 16px;
    color: var(--colorNegro);
    background: var(--colorBlancoBuscador);
}

.input:focus{
    outline: none;
    border: solid var(--colorVerde) 1px;
}

button{
    outline: none;
    border: none;
}