@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('login.css');
@import url('footer.css');
@import url('headerSinSearch.css');
@import url('variables.css');
@import url('erroresValidacion.css');
@import url("card.css");
@import url('button.css');
@import url('darkMode.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.contenedor-flex {
    background: linear-gradient(to bottom, var(--colorVerde) 50%, var(--colorBlanco) 50%);
    background-repeat: no-repeat;
    height: 90vh;
}

.contenedor-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
}

.formulario {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 48px 0px;
}

.formulario h1 {
    font-size: 32px;
}

.formulario input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 12px;
}

.usuario {
    margin-top: 24px;
}

.formulario button {
    padding: 8px;
    background: #494F51;
    border-radius: 16px;
    border: none;
    color: var(--colorBlanco);
}

.contenedor-registrarse {
    margin-top: 16px;
}

.contenedor-registrarse p {
    color: var(--colorNegro); 
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.contenedor-registrarse a {
    color: var(--colorNegro); 
 }

