:root{
    --colorGris:#EFEFEF;
    --colorGrisOscuro: rgba(73, 79, 81, 1);
    --colorVerde: rgba(12, 176, 147, 1);
    --colorBlanco: rgba(255, 255, 255, 1);
    --colorNegro: rgba(0, 0, 0, 1);
    --colorRojo: rgba(255, 0, 0, 1);
}