:root{
    --colorGris:#EFEFEF;
    --colorGrisOscuro:#494f51;
    --colorVerde: #0cb093;
    --colorBlanco: #ffffff;
    --colorNegro: #000000;
    --colorRojo: #ff0000;
    --colorNegroClaro: rgba(51, 51, 51, 1);
}