<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
</head>
<body>
    <%- include('../partials/header_con_search')  %>
    <main>
        <a href="" id="linkVolverAtras"><img src="/img/arrow-left.svg" alt="">Volver</a>
        <h1 class="title">Productos en tu Carrito</h1>
        <section id="containterProductos">
            <article class ="articuloElemento">
                <div class="parteNombreFoto">
                    <img class="imagenArticulo" src="/img/D_NQ_NP_704045-MLA44850206709_022021-O.webp" alt="">
                    <h3 class="nombreArticulo">Jack Daniel's Tennessee Honey Botella 750 mL</h3>
                </div>
                <div class="parteBotonesPrecio">
                    <button class="button">Quitar</button>
                    <div class="buttonCantidad"><button class="buttonDisminuir">-</button> 0 <button class="buttonAumentar">+</button></div>
                    <span class="precioProducto">19.900</span>
                </div>
            </article>
        </section>
        <section id="containterProductos">
            <article class ="articuloElemento">
                <div class="parteNombreFoto">
                    <img class="imagenArticulo" src="/img/combohamburguesa.jpg" alt="">
                    <h3 class="nombreArticulo">1 Combo Hamburguesa</h3>
                </div>
                <div class="parteBotonesPrecio">
                    <button class="button">Quitar</button>
                    <div class="buttonCantidad"><button class="buttonDisminuir">-</button> 0 <button class="buttonAumentar">+</button></div>
                    <span class="precioProducto">5.000</span>
                </div>
            </article>
        </section>
        <section id="containterProductos">
            <article class ="articuloElemento">
                <div class="parteNombreFoto">
                    <img class="imagenArticulo" src="/img/images (1).jpeg" alt="">
                    <h3 class="nombreArticulo">Coca Cola Lata 220mL Pack Original x8</h3>
                </div>
                <div class="parteBotonesPrecio">
                    <button class="button">Quitar</button>
                    <div class="buttonCantidad"><button class="buttonDisminuir">-</button> 0 <button class="buttonAumentar">+</button></div>
                    <span class="precioProducto">1.520</span>
                </div>
            </article>
        </section>
        <p id="totalPuntos" class="title">Total de Puntos<output id="outputTotal"> 26.420</output></p>
        <a href="/checkout" id="buttonPagar" class="button">Ir a pagar</a>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>