<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header_con_search') %>
    <main class>
    <%- include('../partials/barra_navegacion')%>

        <section id="banners_promocion">
            <article class="banner_promocion">
                <div class="filtro_negrito"></div>
                <img class="article_promocion_imagen" src="img/disneybg.jpg" alt="Image Dysney">
                <div class="container_texto_promocion">
                    <img class="icono_brand_banner" src="img/disneybrand.png" alt="Icon Dysney">
                    <div class="container_texto">
                        <h6 class="texto_descuento">50% OFF en Combo Plus.</h6>
                        <h6 class="texto_canje">Canjeando 50.000 puntos MiEcommerce.</h6>
                    </div>
                </div>
            </article>
            <article class="banner_promocion">
                <div class="filtro_negrito"></div>
                <img class="article_promocion_imagen" src="img/hbobg.jpg" alt="Image HBO">
                <div class="container_texto_promocion">
                    <img class="icono_brand_banner" src="img/hbobrand.png" alt="Icon HBO">
                    <div class="container_texto">
                        <h6 class="texto_descuento">50% OFF en HBO Max.</h6>
                        <h6 class="texto_canje">Canjeando 50.000 puntos MiEcommerce </h6>
                    </div>
                </div>
            </article>
        </section>
    
    <section id="seccion_interes">
        <h2 class="titulo_seccion"> Te puede interesar</h2>
        <div class="container_lista_productos">

            <article class="cardProducto">
                <img src="/img/images (2).jpeg" alt="Image Jack Daniels ">
                <div>
                    <a href="/product/2"><h3 class ="Descripcion">Whiskey Jack Daniels Honey 750ml</h3></a>
                    <div>
                        <p>760</p> 
                        <span>Puntos</span>
                    </div>
                </div>
            </article>

            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section id="seccion_mas_pedidos">
        <h2 class="titulo_seccion"> Los más pedidos</h2>
        <div class="container_lista_productos">

            <article class="cardProducto">
                <img src="img/images (1).jpeg" alt="">
                <div>
                    <h3>Coca Cola Lata 200 mL Pack Original x8</h3>
                    <div>
                        <p>760</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>


            <article class="cardProducto">
                <img src="/img/imagenDefaultProducto.png" alt="">
                <div>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <div>
                        <p>XX.XXX</p>
                        <span>Puntos</span>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <%- include('../partials/barra_navegacion')%>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>


