<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/scripts/login.js"></script>
    <script src="/scripts/registerLogin.js"></script>
</head>
<body class="bodyRegister">
    <%- include("../partials/header_sin_search") %>
    <main class="contenedor-flex">
        <section class="card tarjetaLogin">
            <form class="formulario" id="formRegistro" action="/users/login" method="POST">
                <h1>¡Hola!</h1>
                <input class="usuario inputForm" id="user" type="text" placeholder="Tu nombre de usuario" name="user">
                <% if (errors.user) { %>
                 <span class="errorVal">
                    <%= errors.user.msg %>
                 </span>
                <% }else{ %>
                    <span></span>
                <% } %>
                <input class="password inputForm" id="password" type="password" placeholder="Tu contraseña" name="password">
                <% if (errors.password) { %>
                    <span class="errorVal">
                        <%=errors.password?.msg%>
                    </span>
                <% }else{ %>
                    <span></span>
                <% } %>
                <button type="submit" class="buttonGris" id="buttonIniciarSesion" disabled>Iniciar Sesion</button>
            </form>
        </section>
        <section class="contenedor-registrarse">
            <p>¿No tienes cuenta? <a href="/users/register">Registrate</a></p>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>



