<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <!-- INCLUDE DEL HEADER -->
    <main class="contenedor-flex">
        <section class="card">
            <form class="formulario" action="/" method="GET">
                <h1>¡Hola!</h1>
                <input class="usuario" type="text" placeholder="Tu nombre de usuario">
                <input class="password" type="password" placeholder="Tu contraseña">
                <button type="submit">Iniciar Sesion</button>
            </form>
        </section>
        <section class="contenedor-registrarse">
            <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
        </section>
    </main>



<!-- <footer>

    <div>
        <img src="/img/twitter.svg" alt="" class="redes">
        <img src="/img/facebook.svg" alt="" class="redes">
        <img src="/img/instagram.svg" alt="" class="redes">
        <img src="/img/youtube.svg" alt="" class="redes">
    </div>

    <div>
    </div>

    <div>
    </div>


</footer> -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>


